{% extends "index.html" %}
{% load staticfiles %}

{% block headin %}

{% endblock %}

{% block content %}

<h1>About</h1>
<hr>
<h4>Lorem ipsum dolor</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fermentum sed augue ut scelerisque. Cras viverra eget est eget tempus. Pellentesque arcu elit, sodales congue quam quis, tempus consequat ante. Sed tincidunt, erat at dapibus viverra, ligula orci eleifend nulla, ac lacinia tortor ex et sem. Curabitur ornare ligula erat. Mauris eu blandit sem, non fringilla risus. Pellentesque ut mi sapien. Suspendisse suscipit eros a tortor finibus efficitur. Duis tempor, sapien et tempor lobortis, augue sapien maximus magna, eget elementum lorem magna at nisi.</p>
<hr>
<h4>Lorem ipsum dolor</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fermentum sed augue ut scelerisque. Cras viverra eget est eget tempus. Pellentesque arcu elit, sodales congue quam quis, tempus consequat ante. Sed tincidunt, erat at dapibus viverra, ligula orci eleifend nulla, ac lacinia tortor ex et sem. Curabitur ornare ligula erat. Mauris eu blandit sem, non fringilla risus. Pellentesque ut mi sapien. Suspendisse suscipit eros a tortor finibus efficitur. Duis tempor, sapien et tempor lobortis, augue sapien maximus magna, eget elementum lorem magna at nisi.</p>
<hr>
<h4>Lorem ipsum dolor</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fermentum sed augue ut scelerisque. Cras viverra eget est eget tempus. Pellentesque arcu elit, sodales congue quam quis, tempus consequat ante. Sed tincidunt, erat at dapibus viverra, ligula orci eleifend nulla, ac lacinia tortor ex et sem. Curabitur ornare ligula erat. Mauris eu blandit sem, non fringilla risus. Pellentesque ut mi sapien. Suspendisse suscipit eros a tortor finibus efficitur. Duis tempor, sapien et tempor lobortis, augue sapien maximus magna, eget elementum lorem magna at nisi.</p>

{% endblock %}

{% block scriptin %}

{% endblock %}
