{% extends "index.html" %}
{% load staticfiles %}

{% block headin %}
<script type="text/javascript" src="{% static "fusioncharts.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
{% endblock %}

{% block content %}

<h1>Diary</h1>
<hr>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 300px; height: 200px; border-style:dashed; border-width:3px;"></div>
    <div>
      <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span>
        <input type="file" name="myfile" accept="image/*"/>
      </span>
      <a href="#" class="btn btn-default fileinput-exists btn-danger glyphicon glyphicon-remove" data-dismiss="fileinput"></a>
    </div>
  </div>
  <br>
  <input type="date" id="datePicker" class="form-control" name="date">
  <br>
  <br>
  <button type="submit" class="btn btn-success">Upload</button>
  <hr>
</form>

  <div class="result">
    {% if result %}
      {% if result != 666 %}
        <div class="alert alert-success">
          <strong>Success!</strong>{{ result }}
        </div>
      {% else %}
      <div class="alert alert-danger">
        <strong>No faces found! </strong>Try another image.
      </div>
      {% endif %}
    {% endif %}

    <hr>
    <div class="alert alert-success" style="font-size: 20px;">
      <strong>JUNE '18</strong>
    </div>
    <div class="diary">
      {% for F in Diary %}
      <div class="day" title=
"sadness = {{F.emotions.sadness}}
neutral = {{F.emotions.neutral}}
contempt = {{F.emotions.contempt}}
disgust = {{F.emotions.disgust}}
anger = {{F.emotions.anger}}
surprise = {{F.emotions.surprise}}
fear = {{F.emotions.fear}}
happiness = {{F.emotions.happiness}}"
            style="background-image:url({{ F.image.url }})">
          <p class="date">  {{F.date}} </p>
      </div>
      {% endfor %}
    </div>
    <hr>

      <div id="content2" style="background-color:white;">
        <div style="background-color:white; height:60px; font-size:20px;border-top: 50px solid white;"><center><strong>JUNE '18</strong></center></div>

          <div style="border-top: 50px solid white;" class="line_plot" id="chart-11">{{ line_plot|safe }}</div>

          <div style="background-color:white; height:30px;"></div>
          <div class="plots_video">
            <div class="plot_video" id="chart-10">{{ pie_plot|safe }}</div>
          </div>

          <div style="background-color:white; height:30px;"></div>

      </div>
  </div>

  <button class="btn btn-info" id="cmd2">Download as PDF</button>
  <br><br><br>

{% endblock %}

{% block scriptin %}
<script>
  $('.fileinput').fileinput();
</script>

<script>
$('#cmd2').click(function() {
  	var options = {
      "background": '#000',
  	};
  	var pdf = new jsPDF('p', 'pt', 'a4');
  	pdf.addHTML($("#content2"), 0, 30, options, function() {
    	pdf.save('diary.pdf');
  	});
});
</script>
{% endblock %}
