{% extends "index.html" %}
{% load staticfiles %}

{% block headin %}
<script type="text/javascript" src="{% static "fusioncharts.js" %}"></script>
{% endblock %}

{% block content %}

<h1>Group photo</h1>
<hr>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 300px; height: 200px; border-style:dashed; border-width:3px;"></div>
    <div>
      <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span>
        <input type="file" name="myfile" accept="image/*"/>
      </span>
      <a href="#" class="btn btn-default fileinput-exists btn-danger glyphicon glyphicon-remove" data-dismiss="fileinput"></a>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Upload</button>
  </div>
  <hr>

  <div class="result">
    {% if result %}
      {% if result != 666 %}
        <div class="alert alert-success">
          <strong>Success!</strong> {{ result.0 }} people was found!
          <br>
          <strong>{{ result.1 }} male</strong> was found!
          <br>
          <strong>{{ result.2 }} female</strong> was found!
        </div>
        <div style="width:100%; height:300px;">
        <div class="group-photo" style="background-image:url({{ photo.image.url }})">
        </div>
        <div class="group-smile">
          <div class="smile-face">
            <img class="smile" style="height:10%;" src="/media/sadness.png">
            <img class="smile" style="height:10%;" src="/media/neutral.png">
            <img class="smile" style="height:10%;" src="/media/contempt.png">
            <img class="smile" style="height:10%;" src="/media/disgust.png">

            <img class="smile" style="height:10%;" src="/media/anger.png">
            <img class="smile" style="height:10%;" src="/media/surprise.png">
            <img class="smile" style="height:10%;" src="/media/fear.png">
            <img class="smile" style="height:10%;" src="/media/happiness.png">
          </div>
          <div class="smile-lines">

            <div class="smile-line">
              <div class="smile-fill" style="width:{{line_result.0}}%;">
                  <p>sadness</p>
              </div>
            </div>
            <div class="smile-line">
              <div class="smile-fill" style="width:{{line_result.1}}%;">
                <p>neutral</p>
              </div>
            </div>
            <div class="smile-line">
              <div class="smile-fill" style="width:{{line_result.2}}%;">
                <p>contempt</p>
              </div>
            </div>
            <div class="smile-line">
              <div class="smile-fill" style="width:{{line_result.3}}%;">
                <p>disgust</p>
              </div>
            </div>
            <div class="smile-line">
              <div class="smile-fill" style="width:{{line_result.4}}%;">
                <p>anger</p>
              </div>
            </div>
            <div class="smile-line">
              <div class="smile-fill" style="width:{{line_result.5}}%;">
                <p>surprise</p>
              </div>
            </div>
            <div class="smile-line">
              <div class="smile-fill" style="width:{{line_result.6}}%;">
                <p>fear</p>
              </div>
            </div>
            <div class="smile-line">
              <div class="smile-fill" style="width:{{line_result.7}}%;">
                <p>happiness</p>
              </div>
            </div>
          </div>
        </div>
        </div>

        <hr>
        <div style="text-align:center; font-size:18px;">
          <strong>Emotions</strong>
        </div>
        <br>
        <div class="plots">
          <div class="plot" id="chart-3">{{ all_plot|safe }}</div>
          <div class="plot" id="chart-1">{{ female_plot|safe }}</div>
          <div class="plot" id="chart-2">{{ male_plot|safe }}</div>
        </div>
        <hr>
        <div style="text-align:center; font-size:18px;">
          <strong>Smile</strong>
        </div>
        <br>
        <div class="plots">
          <div class="plot" id="chart-4">{{ all_plot_smile|safe }}</div>
          <div class="plot" id="chart-5">{{ female_plot_smile|safe }}</div>
          <div class="plot" id="chart-6">{{ male_plot_smile|safe }}</div>
        </div>
        <hr>


      {% else %}
      <div class="alert alert-danger">
        <strong>No faces found! </strong>Try another image.
      </div>
      {% endif %}
    {% endif %}
  </div>


{% endblock %}

{% block scriptin %}

<script>
  $('.fileinput').fileinput();
</script>
{% endblock %}
