{% extends "index.html" %}
{% load staticfiles %}

{% block headin %}
<link rel="stylesheet" href="{% static 'style.css' %}" type = "text/css"/>
{% endblock %}

{% block content %}
<h1>History</h1>
<hr>

<div class="row">
  {% for P in Photos %}
  <div class="column" style="background-image:url({{ P.image.url }})" onclick="myFunction(this);">
  </div>
  {% endfor %}
</div>

<div class="container" style="display:none; margin-bottom:20px;" >
  <span class="closebtn" onclick="this.parentElement.style.display='none'" >&times;</span>
  <div id="expandedImg"></div>
</div>

{% endblock %}

{% block scriptin %}
<script>
function myFunction(imgs) {
    var expandImg = document.getElementById("expandedImg");
    expandImg.style.backgroundImage = imgs.style.backgroundImage;
    expandImg.parentElement.style.display = "block";
}
</script>
{% endblock %}
